@page "~/Sobre"
@model MyRazorApp.Pages.AboutModel
@{
    ViewData["Title"] = "Sobre";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1>Sobre</h1>
</body>
@section scripts{
    <script src="~/js/site.js"></script>

    }
</html>
